/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Header Styles */
  header {
    background-color: #333; 
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Body Styles */
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    background: url('images/Website_Bakgroun.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  
  /* Canvas Styling */
  canvas {
    border: 1px solid #ccc;
    background: #fff;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 50;
  }
